.authorization {
  font-family: "Noto Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafa;
  min-height: 94vh;
  padding-top: 50px;

  display: flex;
  flex-direction: column;
}

.auth_label {
  display: inline-block;
  padding-right: 50px;
}
.auth_field {
  display: inline;
  padding-left: 30px;
}
#searchBtn{
  margin-top: 30px;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #7175ba;
  color: white;
  border: none;
  cursor: pointer;
}

#searchBtn:hover {
  background-color: #555891;
}
